.chat-main-messages
  .messages-box
    .post-contents
      .poster
        = message.user.name
      .date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .main-messages
      - if message.body.present?
        %p.message-text
          = message.body
      = image_tag message.image.url, class: "message-image" if message.image.present?