.chat-main

  .chat-main-header
    .header-leftcontents
      .current-group
        TECH::EXPERT
      %ul.member-list
        Member :
        %li.list
          Shun
        %li.list
          Osikawa
        %li.list
          Watanabe
        %li.list
          Kawamura
    .edit-btn
      = link_to "#", class: "Edit" do
        Edit

  .chat-main-messages
    .messages-box
      .post-contents
        .poster
          Shun
        .post-date
          2020/02/05(Wed) 23:35:34
      .messages
        勉強中です！
    .messages-box
      .post-contents
        .poster
          Osikawa
        .post-date
          2020/02/05(Wed) 23:44:52
      .messages
        こんばんは！
    .messages-box
      .post-contents
        .poster
          Watanabe
        .post-date
          2020/02/05(Wed) 23:48:13
      .messages
        みんな頑張ってくださいー

  .chat-main-form
    .input-form
      %input.input-text{:type => "text", :placeholder => "type a message"}
      %label.attached-file
        = icon('far', 'image')
        %input{type: "file", class: "image"}
    %button.submit-btn{:type => "submit"}
      Send
