.side-bar
  .side-bar-header
    .header-contents
      .user-name
        Shun
      .side-bar-icon
        = link_to "#", class: "link" do
          = icon('fas', 'edit', class: 'icon')
        = link_to "#" do
          = icon('fas', 'cog', class: 'icon')
  .groups
    .group-contents
      .group-name
        TECH::EXPERT
      .group-chat
        まだメッセージがありません。