.chat-main-form {
  background-color: $gray;
  height: 90px;
  width: calc(100vw - 300px);
  padding: 0px 40px;
  line-height: 90px;
}

.input-form {
  @include center
}

.input-text {
  width: 100%;
  position: relative;
}

.text {
  height: 50px;
  width: 100%;
  padding: 0px 40px 0px 10px;
}

.attached-file {
  font-size: 25px;
  position: absolute;
  top: 0px;
  right: 10px;
}

.image {
  cursor: pointer;
}

.hidden {
  display: none;
}

.submit {
  line-height: 90px;
}

.submit-btn {
  background-color: $btn_color;
  color: $white;
  height: 50px;
  width: 100px;
  margin-left: 15px;
  font-size: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}