.chat-main-messages {
  background-color: #fafafa;
  height: calc(100% - 190px);

  .messages-box {
    padding: 35px 0px 46px 40px;

    .post-contents {
      margin-bottom: 12px;
      display: flex;

      .poster {
        color: $black;
        font-size: 16px;
        margin-right: 5px;
      }

      .post-date {
        color: $sand;
        font-size: 12px;
      }
    }
  }
  .messages {
    color: #434a54;
    font-size: 14px;
  }
}